#################
## Harvest API ##
#################
LOGIN_EMAIL="email@example.com" # login email
LOGIN_PASSWORD="opensesame" # login password
LOGIN_SLUG="xxxx" # your account dashboard slug (xxxx.harvestapp.com)
USE_SSL="true" # set SSL to true if this site uses HTTPS
USER_ID=123456 # harvest user id (whose timer entries to get)

######################
## Time Calculation ##
######################
DAILY_TARGET=3 # daily billable hours target
TIME_ZONE="CST" # time zone for reporting
